body {
   background-color: rgb(255, 255, 255);
}

.alert {
    text-align: center;
    font-size: 25px;
}
.calculatorFrame {
    overflow: hidden;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    border-width: 3.5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    gap: 10px;
}

.calculatorDisplay {
    width: 450px;
    height: 158px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    margin: 10px;
    text-align: right;
    background-color: rgb(19, 42, 71);
    max-height: 158px;
    margin-top: 25px;
}

.calculatorDisplay p {
    padding-right: 15px;
    font-size: 75px;
    color: white;
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.AC {
    background-color: transparent;
    color: hotpink
}

.enter {
    background-image: linear-gradient(rgb(168, 35, 161),rgb(255, 166, 0));
    color: white;
}

.operations {
    background-color: rgb(36, 35, 35);
}

button {
    height: 100px;
    width: 100px;
    font-size: 25px;
    border-radius: 10px;
    margin: 2px;
    background-color: transparent;
    color: white;
    font-weight: 50;
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: 0px ;

}


button:hover {
    outline: auto;
}

.calculatorButtons {
   margin-bottom: 10px;
   
  

}