body {
   background-color: burlywood;
}

.alert {
    text-align: center;
    font-size: 25px;
}
.calculatorFrame {
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    border-width: 3.5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    gap: 10px;
}

.calculatorDisplay {
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    margin: 10px;
    text-align: right;
    min-width: 450px;
    font-size: 50px;
    background-color: rgb(131, 164, 131);
    max-height: 158px;
    margin-top: 25px;
}

.calculatorDisplay p {
    padding-right: 15px;
    font-size: 75px;
    color: black;
    font-weight: bold;

}

.AC {
    background-color: rgb(182, 46, 46);

}

.enter {
    background-color: rgb(221, 155, 33);    
}

.operations {
    background-color: darkslategrey;
}

button {
    height: 100px;
    width: 100px;
    font-size: 25px;
    border-radius: 10px;
    margin: 2px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;

}

button:hover {
    background-color: white;
    transition-duration: 0.45s;
    color: black;
}
.calculatorButtons {
   margin-bottom: 10px;
   
  

}